@page "{id:int}"
@model CleanTodoTasks.RazorGUI.Pages.Tasks.DeleteAreaModel
@{
    ViewData["Title"] = "Delete area";
}

<main class="container-fluid main-container">
    <form class="card mt-2" style="max-width: 500px;" method="post">
        <input asp-for="@Model.Id" />
        <section class="card-header">
            Delete area
        </section>
        <section class="card-body">
            Are you sure you want to delete area with @Model.AreaName?
        </section>
        <section class="card-footer">
            <button type="submit" class="btn btn-danger">Delete</button>
            <a class="btn btn-secondary" asp-page="/Tasks/Workspace" asp-route-id="@Model.Id">Cancel</a>
        </section>
    </form>
</main>
