@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<section class="container">
    @if (User.Identity.IsAuthenticated)
    {
        <div>
            Welcome user @Model.Username
        </div>
    }
    else
    {
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p><a asp-page="/SignIn">Sign in</a> to create new or handle existing tasks and bugs.</p>
        </div>
    }
</section>


