@page
@model CleanTasks.RazorGUI.Pages.TasksModel
 
<main class="container-fluid main-container">
    <partial name="_Errors" />
    <div class="row task-container">
        <section class="col-lg-3 border-right task-area-list">
            <div class="text-center">
                <button class="btn btn-primary mt-2 mb-2"><span class="oi oi-plus"></span></button>
            </div>
            <ul class="list-group list-group-flush ">
                <li class="list-group-item task-area-list-item">Cras justo odio</li>
                <li class="list-group-item task-area-list-item">Dapibus ac facilisis in adasd dadasd adada  da</li>
                <li class="list-group-item task-area-list-item">Vestibulum at eros</li>
            </ul>

        </section>
        <section class="col-lg-9">

        </section>
    </div>
    
</main>



