@using CleanTodoTasks.RazorGUI.Constants
@if (TempData[ViewDataKeys.ErrorMessage] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData[ViewDataKeys.ErrorMessage]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
@if (TempData[ViewDataKeys.SuccessMessage] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData[ViewDataKeys.SuccessMessage]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
@if (TempData[ViewDataKeys.InfoMessage] != null)
{
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        @TempData[ViewDataKeys.InfoMessage]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}