@if (!ViewContext.ModelState.IsValid)
{
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <div asp-validation-summary="All" class="danger"></div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
}



