@using CleanTasks.Application.TodoArea.Models;
@model List<TodoAreaDto>

<ul class="list-group list-group-flush">
    @if (Model != null && Model.Any())
    {
        @foreach (var area in Model)
        {
            <li class="list-group-item task-area-list-item">
                <div class="task-area-list-item">
                    <a  asp-route-id="@area.TodoAreaId" class="task-area-list-item-link">@area.Name</a>
                    <div class="task-area-list-item-icons">
                        <a asp-page="Edit" asp-route-id="@area.TodoAreaId"><span class="oi oi-pencil"></span></a>
                        <a asp-page="Delete" asp-route-id="@area.TodoAreaId"><span class="oi oi-trash"></span></a>
                    </div>
                </div>
            </li>
        }
    }
    else
    {
        <li class="list-group-item task-area-list-item">No areas to display</li>
    }
</ul>
