/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body, html {
    height: 100%;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}
.border-right {
    border-right: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.main-container {
    padding-top: 57px;
    height: 100%;
    position: relative;
}

.task-area-list {
    overflow-y: auto;
    overflow-x:hidden;
}

.task-area-list-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.task-container {
    height: 100%;
    align-items: stretch;
    align-content: stretch;
}